<!DOCTYPE html>
<html>
<head>
	<title>Feed</title>
	<style type="text/css">
		body{
			background-color: #e6e6fa;
		}
		.list-row{
			background-color: #a0aaad;
			
		}

		.error{
			color: red;
			font-weight: bold;
		}

		.submit-btn{
			top:50px;
			right:50px;
			position: fixed;
			padding: 5px;
			border-radius: 2px;

		}
	</style>
</head>
<body>

	<form method="post" action="{% url 'museo:feed' %}">
		{% csrf_token %}
		{% if messages %}
			{% for i in messages %}
			<center><p class="error">{{ i }}</p></center>
			{% endfor %}
		{% endif %}
		<h3>Hello {{ user.username }}!</h3>
		{% if user.is_authenticated %}
			<a href="/museo/logout">Logout</a>
			<a href="/museo/index">Index</a>
			<a href="/museo/createpost">Create a Post</a>
		{% else %}
			<a href="/museo/login">Login</a>
			<a href="/museo/index">Index</a>
			<a href="/museo/createpost">Create a Post</a>
		{% endif %}
		<table>
			<tr class="list-row">
				<td>Post id</td>
				<td>User id</td>
				<td>Upvotes</td>
				<td>Downvotes</td>
				<td>Material</td>
				<td>film id</td>
			</tr>
			{% for b in row %}
			<tr class="list-row">
				{% for x in b %}
				<td>
					{{ x }}
				</td>
				{% endfor %}
				<td>
					{% if user.is_authenticated %}
					<input type="radio" name="upvote" id="{{ b.0 }}" value="{{b.0}}"></input>
					<label for="{{ b.0 }}">Upvote</label>
					{% else %}
					<input type="radio" name="upvote" id="{{ b.0 }}" value="{{b.0}}" disabled=""></input>
					<label for="{{ b.0 }}">Upvote</label>
					{% endif %}
				</td>
				<td>
					{% if user.is_authenticated %}
					<input type="radio" name="downvote" id="{{ b.0 }}" value="{{b.0}}"></input>
					<label for="{{ b.0 }}">Downvote</label>
					{% else %}
					<input type="radio" name="downvote" id="{{ b.0 }}" value="{{b.0}}" disabled=""></input>
					<label for="{{ b.0 }}">Downvote</label>
					{% endif %}
				
				</td>
			</tr>
			{% endfor %}
		</table>
		
		<input type="submit" name="submit" value="submit" class="submit-btn">
	</form>

</body>
</html>